<%= form_with(model: [@library, @library.employees.build], local: true) do |form| %> 
 
 <%= render 'layouts/form_error', value: @employee %>
 
 <%= render 'form_elements', form: form %>

  <div class="form-group">
    <%= form.submit "Потвердить", class: "btn btn-primary" %>
  </div>
 
<% end %>