<div class="my-4">
	<h1>Редактировать</h1>
</div>


<%= form_for @employee, url: library_employee_path(@employee.library, @employee), local: true do |form| %>

<%= render 'layouts/form_error', value: @employee %>

 <%= render 'form_elements', form: form %>



 
<% end %>