<h1>Редакитировать книгу</h1>

<%= form_for @book, url: library_book_path(@library, @book), local: true do |form| %> 

 <%= render 'layouts/form_error', value: @book %>

<%= render 'form_elements', form: form %>
 
 
<% end %>