<div class="my-4">
	<h1>Редактировать абонемент</h1>
</div>


<%= form_for @subscriber, url: library_subscriber_path(@library, @subscriber), local: true do |form| %> 

 <%= render 'layouts/form_error', value: @subscriber %>

  <%= render 'form_elements', form: form %> 


 
<% end %>