<div class="my-4">
	<% if @subscribers.count >= 1 %>
			<h1>Абонементы</h1>
	<% else %>
		<div class="alert alert-dark" role="alert">
        Абонементов нет
		</div>
	<% end %>
	<%= link_to 'Добавить', new_library_subscriber_path(@library) %>
</div>


<%= render 'main_content' %>