<div class="my-4">
	<h1>Добавить абонент</h1>
</div>

<%= form_for @subscriber, url: library_subscribers_path(@library), local: true do |form| %> 

 <%= render 'layouts/form_error', value: @subscriber %>

<%= render 'form_elements', form: form %> 
 
<% end %>