
<div class="my-4">
	<h1>Отчеты</h1>
</div>

<div>
	<form action="/reports" method="get">
		<div class="form-group">
			<select id="models" class="form-control" name="model">
				<option value="books">Книги</option>
				<option value="employees">Сотрудники</option>
				<option value="subscribers">Абоненты</option>
			</select>
		</div>
		<div class="form-group">
			<select id="do" class="form-control" name="do">
				<option value="created_at DESC">Новые</option>
				<option value="updated_at DESC">Обновленные недавно</option>
				<option value="created_at">Старые</option>
			</select>
		</div>
		<div class="form-group">
			<input type="submit" name="commit" value="Потвердить" class="btn btn-primary">
		</div>
	</form>
</div>

<div id="content">

</div>

<script type="text/javascript">
	

$('form').submit(function (e) {
    e.preventDefault();
    var optionValue = $("#models option:selected").val();
    var actionValue = $("#do option:selected").val();
    $.ajax({
        url: '/reports/ajax',
        type: 'GET',
        data: {model: optionValue, do: actionValue},
        success: function (data) {
            $('#content').html(data);
        },
        error: function(data) {
        	console.log(data);
        }
    });
});

</script>
