<% if value.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибки: </h2>
      <ul>
        <% value.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>